body{
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    height: 100%;
}
#container{
    width: 800px;
    margin: 30px auto;
    color: white;
    text-align: center;
    background-color: blue;
    
}
h1,h2{
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
#hr, #min, #sec, #count{
    font-size: 2em;
}
button{
     border-radius: 5px;
     background-color: red;
     color: white;
     cursor: pointer;
     text-transform: uppercase;
     
}
button:hover{
    background-color: white;
    border: solid 1px white;
    color: red;
}